body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle,#7226ff,#160078,#010030);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    
}

.container {
    background-color: white;
    border-radius: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    height: 80%;
    width: 80%;
    padding: 0;
    margin: 0;
    
    display: flex;
}
.cont-1{
    
    border-radius: 70px;
    background-color: #160078;
    width: 65%;
    height: 100%;
    
}
.cont-2{
    width: 35%;
    height: 100%;
    text-align: center;
}
.cont-2 h1{
    
    
    font-size: 70px;
    margin: 80px
}

input {
    display: block;
    font-family: auto;
    font-size: 16px;
    text-align: left; 
    margin: 30px auto;
    padding: 24px 45px ;
    border-radius: 35px;
    border: none;
    background-color: rgba(128, 128, 128, 0.13);
  }
  

  input::placeholder {
    text-align: left;
}
.frgt {
color: black;
}
button {
    border: 2px solid transparent;
    display: block;
    background-color: #160078;
    color: white;
    padding: 20px 80px;
    transition: 0.5s;
    border-radius: 30px;
    margin: 50px auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 0 #0e0052;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    transition: 0.5s;
}

button:hover::before {
    left: 100%;
}

button:hover {
    border-color: white;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #0e0052;
}
